* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    color: white;
    background-color: #0288D1;
    text-align: center;

}

.contact-links {
    color: black;
    background-color: #7C4DFFrine;
    display: flex;
    flex-flow: row-reverse;
    margin: 50px;
    padding: 0;
}


img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    text-align: center;
    background-color: #7C4DFF;
}